#title {
  
  font-family: "Arial" , sans-serif; 
  text-align: center;
  
}

#megan {
  
  font-family: "Arial" , sans-serif;
  text-align: center;
  
}

#additions {
  
  text-align: center;
  font-family: arial, sans-serif;
  
}

#additions2 {
  
  text-align: center;
  font-family: arial, sans-serif;
  
}

#micko {
  
  font-family: "arial" , sans-serif;
  text-align: center;
  font-size: 200%
  
}
